_legacy/
.venv/
**.csv
**.xlsx
**.db
**.ipynb
.DS_Store
**/.DS_Store
**.ipynb_checkpoints
**/.ipynb_checkpoints
__pycache__
**/__pycache__
pytest_cache
**/pytest_cache
.vscode
**/.vscode
**/.terraform/**
**/.terraform.lock.hcl